<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Ejercicio 5
body
	section(id="output")
	script.
	var op = document.getElementById("output");
	var name = prompt(“What’s your name?”);
	op.innerHTML = ‘<h1> Welcome: ‘+name+’</h1>’;