<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Ejercicio 3
body
	input(type='checkbox' checked)
	input(type='checkbox' checked=true)
	input(type='checkbox' checked=false)
	a(style={color: 'white', background: "crimson"})
	- var clases = ['yellow', 'blue', 'red']
	a(class=clases)